In [15]:
import pandas as pd
df = pd.read_csv('../stock-price.csv')
df.head()

       date     apple  microsoft
0  2015/1/2  101.9635    42.5999
1  2015/1/5   99.0910    42.2036
2  2015/1/6   99.1003    41.5886
3  2015/1/7  100.4899    42.1170
4  2015/1/8  104.3510    43.3560

In [16]:
df['date']

0         2015/1/2
1         2015/1/5
2         2015/1/6
3         2015/1/7
4         2015/1/8
           ...
1001    2018/12/24
1002    2018/12/26
1003    2018/12/27
1004    2018/12/28
1005    2018/12/31
Name: date, Length: 1006, dtype: object

In [17]:
df['apple'].head()

0    101.9635
1     99.0910
2     99.1003
3    100.4899
4    104.3510
Name: apple, dtype: float64