In [1]:
from bs4 import BeautifulSoup
import requests

In [8]:
url ='https://scraping-for-beginner.herokuapp.com/udemy'
r = requests.get(url)
r

In [9]:
r.text

'<!DOCTYPE html>\n<html lang="en" dir="ltr">\n<head>\n  <meta charset="utf-8">\n  <title>Webスクレイピング入門者のためのサイト</title>\n  <!-- Compiled and minified CSS -->\n  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">\n  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> \x08\n  <link rel="stylesheet" href="static/assets/css/style.css">\n  <link rel="stylesheet" href="static/assets/css/udemy.css">\n  <!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->\n</head>\n\n<body>\n  <!-- Navbar -->\n  <div class="navbar-fixed">\n    <!-- Dropdown Structure -->\n    <nav class="">\n      <div class="nav-wrapper row">\n        <div class="col s5 l4 offset-s1 offset-l1">\n          <a href="\x08/" class="brand-logo">Webスクレイピング入門</a>\n        </div>\n        <div class="col s5 l6">\n          <ul id="nav-mobile" class="right hide-on-med-and-down">\n            <li><a href="\x08/login_page" class="">ログイン</a></li>\n            <li><a href="/ranking/" class="">ランキング</a></li>\n            <li><a href="/image" class="">画像</a></li>\n            <li><a href="/udemy" class="">Udemy</a></li>\n            <li><a href="https://scraping-for-beginner.readthedocs.io/" target=”_blank” class="">サンプルコード</a></li>\n          </ul>\n        </div>\n      </div>\n    </nav>\n  </div>\n\n  \n\n<div class="row">\n  <div class="col s4 offset-s4">\n    <div class="overview">\n      <p>\n      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。\n      </p>\n    </div>\n    <div class="">\n      <div class="">\n        <div class="card">\n          <div class="card-image">\n            <img src="/static/assets/img/self-introduction.jpg">\n            <span class="card-title">今西 航平</span>\n          </div>\n          <div class="card-content">\n            <p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br>\n\n              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br>\n\n            </p>\n          </div>\n          <div class="card-action">\n              <p class="subscribers">受講生の数：6353</p>\n              <p class="reviews">レビューの数：832</p>\n          </div>\n        </div>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n\n  <!-- Compiled and minified JavaScript -->\n  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>\n  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>\n  <script type="text/javascript">\n    $(document).ready(function() {\n      $(".dropdown-trigger").dropdown();\n    });\n  </script>\n\n\n</body>\n\n</html>'

In [13]:
soup = BeautifulSoup(r.text, 'html.parser')
soup

<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>Webスクレイピング入門者のためのサイト</title>
<!-- Compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
  <link href="static/assets/css/style.css" rel="stylesheet"/>
<link href="static/assets/css/udemy.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->
</head>
<body>
<!-- Navbar -->
<div class="navbar-fixed">
<!-- Dropdown Structure -->
<nav class="">
<div class="nav-wrapper row">
<div class="col s5 l4 offset-s1 offset-l1">
<a class="brand-logo" href="/">Webスクレイピング入門</a>
</div>
<div class="col s5 l6">
<ul class="right hide-on-med-and-down" id="nav-mobile">
<li><a class="" href="/login_page">ログイン</a></li>
<li><a class="" href="/ranking/">ランキング</a></li>
<li><a class="" href="/image">画像</a></li>
<li><a class="" href="/udemy">Udemy</a></li>
<li><a class="" href="https://scraping-for-beginner.readthedocs.io/" target="”_blank”">サンプルコード</a></li>
</ul>
</div>
</div>
</nav>
</div>
<div class="row">
<div class="col s4 offset-s4">
<div class="overview">
<p>
      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。
      </p>
</div>
<div class="">
<div class="">
<div class="card">
<div class="card-image">
<img src="/static/assets/img/self-introduction.jpg"/>
<span class="card-title">今西 航平</span>
</div>
<div class="card-content">
<p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br/>

              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br/>
</p>
</div>
<div class="card-action">
<p class="subscribers">受講生の数：6353</p>
<p class="reviews">レビューの数：832</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-trigger").dropdown();
    });
  </script>
</body>
</html>

In [16]:
soup.select('.card-title')

In [17]:
soup.select('.card-title')[0]

In [21]:
soup.select('.card-title')[0].string

'今西 航平'

In [36]:
name = soup.select('.card-title')[0].text

In [26]:
subsc = soup.select('.subscribers')[0].text
review = soup.select('.reviews')[0].text

[subsc,review]

['受講生の数：6353', 'レビューの数：832']

In [32]:
subsc.split("：")[1]

'6353'

In [37]:
n_subsc = int(subsc.split("：")[1])
n_subsc

6353

In [38]:
n_review = int(review.split("：")[1])
n_review

832

In [40]:
soupResult={
    'name':name,
    'subscribers':n_subsc,
    'reviews':n_review,
}

soupResult

{'name': '今西 航平', 'subscribers': 6353, 'reviews': 832}

In [46]:
import pandas as pd
df = pd.read_csv('test-daily-data.csv')
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [45]:
df['reviews'].head()

0    194
1    195
2    197
3    199
4    199
Name: reviews, dtype: int64

In [48]:
import datetime
datetime.datetime.today()

datetime.datetime(2020, 2, 7, 14, 16, 43, 760386)

In [52]:
date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
date

'2020/2/7'

In [50]:
datetime.datetime.today().strftime('%Y/%m/%d')

'2020/02/07'

In [56]:
results = pd.DataFrame([[date,n_subsc,n_review]],columns=['date','subscribers','reviews'])
results

       date  subscribers  reviews
0  2020/2/7         6353      832

In [60]:
df = pd.concat([df,results])
df.tail()

          date  subscribers  reviews
362  2020/1/15         6193      792
363  2020/1/15         6192      791
0     2020/2/7         6353      832
0     2020/2/7         6353      832
0     2020/2/7         6353      832

In [61]:
df.to_csv("test-daily-data.csv",index = False,encoding = "utf_8_sig")

In [62]:
date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
date

'2020/2/7'

In [69]:
year = datetime.datetime.today().strftime('%Y')
month = datetime.datetime.today().strftime('%m')
day = datetime.datetime.today().strftime('%d')

date = year+month+day
date

'20200207'

In [70]:
df.to_csv("test-daily-data-{}.csv".format(date),index = False,encoding = "utf_8_sig")

In [76]:
def get_info():
    url ='https://scraping-for-beginner.herokuapp.com/udemy'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    subsc = soup.select('.subscribers')[0].string
    review = soup.select('.reviews')[0].string

    n_subsc = int(subsc.split('：')[1])
    n_review = int(review.split('：')[1])

get_info()

6353

In [99]:
def update_csv():
    import pandas as pd
    df = pd.read_csv('output/test-daily-data.csv')

    import datetime
    date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')

    results = pd.DataFrame([[date,n_subsc,n_review]],columns=['date','subscribers','reviews'])
    df = pd.concat([df,results])

    year = datetime.datetime.today().strftime('%y')
    month = datetime.datetime.today().strftime('%m')
    day = datetime.datetime.today().strftime('%d')
    hour = datetime.datetime.today().strftime('%H')
    minute = datetime.datetime.today().strftime('%M')
    second = datetime.datetime.today().strftime('%S')
    datesec = year + month + day + hour + minute + second 
    
    df.to_csv('output/test-daily-data-{}.csv'.format(datesec), index = False, encoding = "utf_8_sig")

update_csv()

In [98]:
datesec

NameError: name 'datesec' is not defined

In [92]:
datetime.datetime.now()

datetime.datetime(2020, 2, 7, 15, 12, 47, 532790)

In [94]:
datetime.datetime.today().strftime('%H:%M:%S')

'15:14:01'

In [100]:
from bs4 import BeautifulSoup
import requests

import pandas as pd
import datetime
	
def get_info():	
	url ='https://scraping-for-beginner.herokuapp.com/udemy'
	r = requests.get(url)
	soup = BeautifulSoup(r.text, 'html.parser')
	
	subsc = soup.select('.subscribers')[0].string
	review = soup.select('.reviews')[0].string
	
	n_subsc = int(subsc.split('：')[1])
	n_review = int(review.split('：')[1])

get_info()	
		
def update_csv():	
	df = pd.read_csv('output/test-daily-data.csv')
	
	date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
	
	results = pd.DataFrame([[date,n_subsc,n_review]],columns=['date','subscribers','reviews'])
	df = pd.concat([df,results])
	
	year = datetime.datetime.today().strftime('%y')
	month = datetime.datetime.today().strftime('%m')
	day = datetime.datetime.today().strftime('%d')
	hour = datetime.datetime.today().strftime('%H')
	minute = datetime.datetime.today().strftime('%M')
	second = datetime.datetime.today().strftime('%S')
	datesec = year + month + day + hour + minute + second
	
	df.to_csv('output/test-daily-data-{}.csv'.format(datesec), index = False, encoding = "utf_8_sig")

update_csv()