In [70]:
#取得日数の指定(先に選択されている想定))
from selenium import webdriver
browser = webdriver.Chrome('chromedriver.exe')

url = 'https://stock-price-app-miyasaka.herokuapp.com/'
browser.get(url)

In [89]:
#指定された日付を取得（addeventlistnerは組めないっぽい）
selectDays = browser.find_element_by_class_name('Select-value')
selectDays = selectDays.text
selectDays

'180(約6ヶ月分)'

In [90]:
if selectDays == '20(約20日分)':
    selectDay = 20
elif selectDays == '60(約2ヶ月分)':
    selectDay = 60
elif selectDays == '180(約6ヶ月分)':
    selectDay = 180
elif selectDays == '400(約1年分)':
    selectDay = 400
elif selectDays == '800(約2年分)':
    selectDay = 800
elif selectDays == '1200(約3年分)':
    selectDay = 1200
else:
    print('error')   
selectDay

180

In [91]:
import math
i = math.ceil(selectDay/20)-1

8

In [92]:
url2 = 'https://minkabu.jp/stock/100000018/daily_bar'
browser.get(url2)

In [93]:
#自動更新を止める
btn = browser.find_element_by_xpath('//*[@id="h_top"]/ul/li[1]')
stop = btn.click()

In [94]:
#さらに表示ボタンを押す 繰り返し処理
#クリックを押すのが早すぎて要素が見つかっていない -> time.sleep(秒)：指定時間待機
import time
for _ in range(i):
    more = browser.find_element_by_class_name('moreContent,tac,mt10')
    more.click()
    time.sleep(0.5)

In [95]:
#要素抽出
elems = browser.find_element_by_id('fourvalue_timeline')
elems = elems.find_elements_by_tag_name('tr')

In [97]:
elems[1].text

'2020/02/10 23,631.79 23,788.25 23,621.72 23,685.98 23,685.98'

In [98]:
dates = []
starts = []
highs = []
lows = []
ends = []
adjusteds = []

def extract():
    for elem in elems[1:]:      #list[start:end]
        data = elem.text.split(" ")
        
        date = data[0]
        start = data[1]
        high = data[2]
        low = data[3]
        end = data[4]
        adjusted = data[5]

        dates.append(date)
        starts.append(start)
        highs.append(high)
        lows.append(low)
        ends.append(end)
        adjusteds.append(adjusted)

In [99]:
extract()

In [100]:
#表にする
import pandas as pd
df = pd.DataFrame()

In [101]:
df['date']=dates
df['start']=starts
df['high']=highs
df['low']=lows
df['end']=ends
df['adjusted']=adjusteds

In [103]:
df.tail()

           date      start       high        low        end   adjusted
175  2019/05/23  21,180.24  21,209.56  21,072.72  21,151.14  21,151.14
176  2019/05/22  21,373.52  21,404.54  21,266.98  21,283.37  21,283.37
177  2019/05/21  21,211.26  21,318.80  21,160.43  21,272.45  21,272.45
178  2019/05/20  21,305.97  21,430.06  21,282.65  21,301.73  21,301.73
179  2019/05/17  21,246.86  21,398.85  21,199.98  21,250.09  21,250.09

In [104]:
df.to_csv("~/Downloads/japanese-stock-price.csv",index = False,encoding = "utf_8_sig")