In [21]:
from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime

In [22]:
init_db()

2020-02-08 07:26:38,035 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-08 07:26:38,037 INFO sqlalchemy.engine.base.Engine ()
2020-02-08 07:26:38,041 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-08 07:26:38,042 INFO sqlalchemy.engine.base.Engine ()
2020-02-08 07:26:38,044 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data")
2020-02-08 07:26:38,045 INFO sqlalchemy.engine.base.Engine ()
2020-02-08 07:26:38,048 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("data")
2020-02-08 07:26:38,050 INFO sqlalchemy.engine.base.Engine ()
2020-02-08 07:26:38,056 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATE,
	subscribers INTEGER,
	reviews INTEGER,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2020-02-08 07:26:38,058 INFO sqlalchemy.engine.base.Engine ()
2020-02-08 07:26:38,077 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
#新しいデータの生成　Create

In [24]:
#日付の取得
date =datetime.date.today()
date

datetime.date(2020, 2, 8)

In [26]:
row = Data(date=date, subscribers=3500, reviews=200)

In [27]:
row

In [28]:
row.date

datetime.date(2020, 2, 8)

In [29]:
row.subscribers

3500

In [30]:
row.reviews

200

In [31]:
#DBに保存 (db_session)
db_session.add(row)
db_session.commit()

2020-02-08 07:40:27,972 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-08 07:40:27,975 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-02-08 07:40:27,978 INFO sqlalchemy.engine.base.Engine ('2020-02-08', 3500, 200, '2020-02-08 07:25:47.302614')
2020-02-08 07:40:27,983 INFO sqlalchemy.engine.base.Engine COMMIT

In [32]:
row1 = Data(date=date, subscribers=3000, reviews=300)
row2 = Data(date=date, subscribers=4000, reviews=400)

In [33]:
db_session.add(row1)
db_session.add(row2)
db_session.commit()

2020-02-08 07:52:21,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-08 07:52:21,634 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-02-08 07:52:21,636 INFO sqlalchemy.engine.base.Engine ('2020-02-08', 3000, 300, '2020-02-08 07:25:47.302614')
2020-02-08 07:52:21,644 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-02-08 07:52:21,646 INFO sqlalchemy.engine.base.Engine ('2020-02-08', 4000, 400, '2020-02-08 07:25:47.302614')
2020-02-08 07:52:21,649 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
#データの読込 Read

In [34]:
db_session.query(Data).all()

2020-02-08 07:56:39,129 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-08 07:56:39,131 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 07:56:39,132 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x2398e2001c0>,
 <assets.models.Data at 0x2398e384760>,
 <assets.models.Data at 0x2398e384220>]

In [35]:
db_session.query(Data).all()[0]

2020-02-08 07:56:53,557 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 07:56:53,559 INFO sqlalchemy.engine.base.Engine ()

In [36]:
db_session.query(Data).all()[0].reviews

2020-02-08 07:57:23,915 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 07:57:23,916 INFO sqlalchemy.engine.base.Engine ()

200

In [42]:
db_session.query(Data).all()[2]

2020-02-08 08:01:01,886 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 08:01:01,887 INFO sqlalchemy.engine.base.Engine ()

In [43]:
db_session.query(Data).all()[-1]

2020-02-08 08:01:23,750 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 08:01:23,751 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
#データの書き換え update

In [64]:
datum = db_session.query(Data).all()[0]
datum

2020-02-08 08:17:47,003 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 08:17:47,005 INFO sqlalchemy.engine.base.Engine ()

In [65]:
datum.subscribers = 10000
datum

In [66]:
db_session.add(datum)
db_session.commit()

2020-02-08 08:18:26,078 INFO sqlalchemy.engine.base.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2020-02-08 08:18:26,080 INFO sqlalchemy.engine.base.Engine (10000, 1)
2020-02-08 08:18:26,084 INFO sqlalchemy.engine.base.Engine COMMIT

In [69]:
datum.subscribers

10000

In [ ]:
#データの削除 Delete

In [90]:
datum = db_session.query(Data).filter_by(subscribers=10000)

In [91]:
datum[0].subscribers

2020-02-08 10:19:17,920 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
WHERE data.subscribers = ?
 LIMIT ? OFFSET ?
2020-02-08 10:19:17,921 INFO sqlalchemy.engine.base.Engine (10000, 1, 0)

10000

In [89]:
db_session.query(Data).all()

2020-02-08 10:19:09,469 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 10:19:09,470 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x2398e2001c0>,
 <assets.models.Data at 0x2398e384760>,
 <assets.models.Data at 0x2398e384220>]

In [107]:
datum = db_session.query(Data).all()[2]
datum.subscribers

2020-02-08 10:24:15,407 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 10:24:15,409 INFO sqlalchemy.engine.base.Engine ()

4000

In [108]:
db_session.delete(datum)
db_session.commit()

2020-02-08 10:24:50,472 INFO sqlalchemy.engine.base.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2020-02-08 10:24:50,474 INFO sqlalchemy.engine.base.Engine (10000, 1)
2020-02-08 10:24:50,475 INFO sqlalchemy.engine.base.Engine DELETE FROM data WHERE data.id = ?
2020-02-08 10:24:50,476 INFO sqlalchemy.engine.base.Engine (3,)
2020-02-08 10:24:50,485 INFO sqlalchemy.engine.base.Engine COMMIT

In [111]:
db_session.query(Data).all()

2020-02-08 10:25:45,589 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-08 10:25:45,590 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-02-08 10:25:45,590 INFO sqlalchemy.engine.base.Engine ()

In [113]:
#全削除
Data.query.delete()

2020-02-08 10:27:57,382 INFO sqlalchemy.engine.base.Engine DELETE FROM data
2020-02-08 10:27:57,384 INFO sqlalchemy.engine.base.Engine ()

2